<app-page [headerPanel]="headerPanel" [contentPanel]="contentPanel" [headerText]="'Administration'"></app-page>
<ng-template #headerPanel>
    <button type="button" *ngIf="currentTab == 'ngb-tab-1' || currentTab == 'ngb-tab-2'" [disabled]="!disabled" class="btn btn-secondary" (click)="new()">New</button>
    <button type="button" *ngIf="currentTab == 'ngb-tab-1' || currentTab == 'ngb-tab-2'" [disabled]="disabled" class="btn btn-secondary" (click)="save()">Save</button>
    <button type="button" *ngIf="currentTab == 'ngb-tab-1' || currentTab == 'ngb-tab-2'" [disabled]="disabled" class="btn btn-secondary" (click)="cancel()">Cancel</button>
</ng-template>

<ng-template #contentPanel>
    <ngb-tabset [justify]="'left'" (tabChange)="tabChange($event)">
        <ngb-tab title="Configuration" >
            <ng-template ngbTabContent >
                <div class="items-panel">
                    <!--<div>-->
                        <!--<label>First Name</label>-->
                        <!--<input type="text" class="form-control" [(ngModel)]="userModel.firstName" placeholder="First Name">-->
                    <!--</div>-->
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Users">
            <ng-template ngbTabContent >
                <div class="content-panel">
                    <div class="items-panel">
                        <div>
                            <label>First Name</label>
                            <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="userModel.firstName" placeholder="First Name">
                        </div>
                        <div>
                            <label>Last Name</label>
                            <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="userModel.lastName" placeholder="Last Name">
                        </div>
                        <div>
                            <label>Position</label>
                            <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="userModel.position" placeholder="Position">
                        </div>
                        <div>
                            <label>Email</label>
                            <input type="text" class="form-control" [disabled]="disabled" type="email" [(ngModel)]="userModel.email" placeholder="Email">
                        </div>
                        <div>
                            <label>Username</label>
                            <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="userModel.username" placeholder="Username">
                        </div>
                        <div>
                            <label>Password</label>
                            <input type="text" class="form-control" [disabled]="disabled" type="password" [(ngModel)]="userModel.password" placeholder="Password">
                        </div>
                    </div>
                    <div class="items-panel">
                        <ngx-datatable
                                class="bootstrap"
                                [rows]="userRows | async"
                                [loadingIndicator]="true"
                                [columns]="userColumns"
                                [columnMode]="'force'"
                                [limit]="10"
                                [rowHeight]="'auto'"
                                [headerHeight]="40"
                                [footerHeight]="40">
                        </ngx-datatable>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Courses">
            <ng-template ngbTabContent >
                <div class="content-panel">
                    <div class="items-panel">
                        <div>
                            <label>Course Number</label>
                            <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="courseModel.courseNumber" placeholder="Course Number">
                        </div>
                        <div>
                            <label>Title</label>
                            <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="courseModel.title" placeholder="Title">
                        </div>
                        <div>
                            <label>Specialization</label>
                            <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="courseModel.specialization" placeholder="Specialization">
                        </div>
                        <div>
                            <label>Credit</label>
                            <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="courseModel.credit" placeholder="Credit">
                        </div>
                        <div>
                            <label>Active</label>
                            <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="courseModel.active" placeholder="Active">
                        </div>
                    </div>
                    <div class="items-panel">
                        <ngx-datatable
                                class="bootstrap"
                                [rows]="courseRows | async"
                                [loadingIndicator]="true"
                                [columns]="courseColumns"
                                [columnMode]="'force'"
                                [limit]="10"
                                [rowHeight]="'auto'"
                                [headerHeight]="40"
                                [footerHeight]="40">
                        </ngx-datatable>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</ng-template>

<ng-template #dialog let-c="close" let-d="dismiss">
    <div class="modal-body">
        <p>Are you sure you want to delete selected data?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="delete()">Confirm</button>
        <button type="button" class="btn btn-light" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #actionsTemplate class="row-actions" let-row="row" let-value="value">
    <button md-icon-button [disabled]="!disabled" (click)="edit(row.id)">
        <i class="fa fa-edit"></i>
    </button>
    <button md-icon-button [disabled]="!disabled" (click)="confirmDelete(row, dialog)">
        <i class="fa fa-trash"></i>
    </button>
</ng-template>

<ng-template #alertTemplate let-c="close" let-d="dismiss">
    <div class="modal-body">
        <p>{{alertMessage}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">OK</button>
    </div>
</ng-template>