<app-page [headerPanel]="headerPanel" [contentPanel]="contentPanel" [headerText]="'Profiles'"></app-page>
<ng-template #headerPanel>
    <button type="button" *ngIf="currentTab === 'all'" class="btn btn-secondary" routerLink="/profile-entry">Add</button>
    <button type="button" *ngIf="currentTab === 'initial'" class="btn btn-secondary" (click)="initialProfile()">Execute Initial Profiling</button>
    <button type="button" *ngIf="currentTab === 'initialcompleted'" class="btn btn-secondary" (click)="finalProfile()">Execute Final Profiling</button>
</ng-template>

<ng-template #contentPanel>
    <ngb-tabset [justify]="'left'" (tabChange)="tabChange($event)">
        <ngb-tab title="All" id="all">
            <ng-template ngbTabContent >
                <ngx-datatable
                        class="bootstrap"
                        [rows]="rows"
                        [loadingIndicator]="loadingIndicator"
                        [columns]="columns"
                        [columnMode]="'force'"
                        [limit]="8"
                        [rowHeight]="'auto'"
                        [headerHeight]="40"
                        [footerHeight]="40"
                        [reorderable]="reorderable">
                    <ngx-datatable-column prop="dateCreated">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            Date
                        </ng-template>
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value | date: 'MM/dd/yyyy'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template let-column="column" ngx-datatable-header-template>
                            Student
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.studentFirstName}} {{row.studentLastName}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="status">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            Status
                        </ng-template>
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Initial" id="initial">
            <ng-template ngbTabContent >
                <ngx-datatable
                        class="bootstrap"
                        [rows]="rowsStageInitial"
                        [loadingIndicator]="loadingIndicator"
                        [columns]="columns"
                        [columnMode]="'force'"
                        [limit]="8"
                        [rowHeight]="'auto'"
                        [headerHeight]="40"
                        [footerHeight]="40"
                        [reorderable]="reorderable">
                    <ngx-datatable-column prop="dateCreated">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            Date
                        </ng-template>
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value | date: 'MM/dd/yyyy'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template let-column="column" ngx-datatable-header-template>
                            Student
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.studentFirstName}} {{row.studentLastName}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="status">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            Status
                        </ng-template>
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Initial Completed" id="initialcompleted">
            <ng-template ngbTabContent >
                <ngx-datatable
                        class="bootstrap"
                        [rows]="rowsStageInitialCompleted"
                        [loadingIndicator]="loadingIndicator"
                        [columns]="columns"
                        [columnMode]="'force'"
                        [limit]="8"
                        [rowHeight]="'auto'"
                        [headerHeight]="40"
                        [footerHeight]="40"
                        [reorderable]="reorderable">
                    <ngx-datatable-column prop="dateCreated">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            Date
                        </ng-template>
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value | date: 'MM/dd/yyyy'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template let-column="column" ngx-datatable-header-template>
                            Student
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.studentFirstName}} {{row.studentLastName}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="status">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            Status
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span *ngIf="row.sdInterview !== '' && row.dsInterview !== '' && row.msInterview !== ''">Profile Updated</span>
                            <span *ngIf="row.sdInterview === '' && row.dsInterview === '' && row.msInterview === ''">{{row.status}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <div class="center-header">
                                Initial Profile Result
                            </div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="center-header">
                                <button md-icon-button (click)="initialProfileResult(row)">
                                    <i class="fa fa-sticky-note"></i>
                                </button>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <div class="center-header">
                                Interview Result
                            </div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="center-header">
                                <button md-icon-button (click)="updateProfile(row)">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Final Completed" id="finalcompleted">
            <ng-template ngbTabContent >
                <ngx-datatable
                        class="bootstrap"
                        [rows]="rowsStageFinal"
                        [loadingIndicator]="loadingIndicator"
                        [columns]="columns"
                        [columnMode]="'force'"
                        [limit]="8"
                        [rowHeight]="'auto'"
                        [headerHeight]="40"
                        [footerHeight]="40"
                        [reorderable]="reorderable">
                    <ngx-datatable-column prop="dateCreated">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            Date
                        </ng-template>
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value | date: 'MM/dd/yyyy'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template let-column="column" ngx-datatable-header-template>
                            Student
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.studentFirstName}} {{row.studentLastName}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="status">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            Status
                        </ng-template>
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <div class="center-header">
                                Final Profile Result
                            </div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="center-header">
                                <button md-icon-button (click)="finalProfileResult(row)">
                                    <i class="fa fa-sticky-note"></i>
                                </button>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column align="center">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <div class="center-header">
                                Email Result
                            </div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="center-header">
                                <button md-icon-button (click)="emailResult(row)">
                                    <i class="fa fa-envelope"></i>
                                </button>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</ng-template>

<ng-template #inputTemplate let-c="close" let-d="dismiss">
    <div class="modal-body">
        <label>Interview Result</label>
        <div class="result-div">
            Software Development
            <input type="number" class="form-control" [(ngModel)]="model.sdInterview" required
                   #name="ngModel">
        </div>
        <div class="result-div">
            Distributed Systems
            <input type="number" class="form-control" [(ngModel)]="model.dsInterview" required
                   #name="ngModel">
        </div>
        <div class="result-div">
            Multimedia Studies
            <input type="number" class="form-control" [(ngModel)]="model.msInterview" required
                   #name="ngModel">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="save()">Save</button>
        <button type="button" class="btn btn-light" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #profileTemplate let-c="close" let-d="dismiss">
    <div class="modal-body">
        <p>1st: {{profileModel.result1Label}} </p>
        <p>Rank: {{profileModel.resultRankLabel}} </p>
        <br/>
        <p>2nd: {{profileModel.result2Label}}</p> <br/>
        <p>3rd: {{profileModel.result3Label}}</p> <br/>
        <br/>
        <p *ngIf="this.initial">Student Choice: {{profileModel.studentChoice}}</p>
        <p *ngIf="!this.initial">Result Accepted by Student: {{profileModel.accepted}}</p>
        <div *ngIf="!this.initial">
            <button type="button" class="btn btn-light" (click)="acceptResult('Yes')">Accept</button>
            <button type="button" class="btn btn-light" (click)="acceptResult('No')">Not accept</button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">OK</button>
    </div>
</ng-template>

<ng-template #alertTemplate let-c="close" let-d="dismiss">
    <div class="modal-body">
        <p>{{alertMessage}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">OK</button>
    </div>
</ng-template>


