@import "../../app.component";

.navbar{
  background: $x-default-color;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-item .nav-link{
  color: #ffffff;
}


.navbar .navbar-toggler .navbar-toggler-bar{
  background: #ffffff;
}

