.items-panel{
  padding-top: 20px;
  padding-right: 20px;
  width: 40%;
  min-width: 450px;
}

.content-panel{
  display: flex;
}

label {
  padding-top: 10px;
}

.btn-block {
  margin-top: 10px;
}



