<app-page [headerPanel]="headerPanel" [contentPanel]="contentPanel" [headerText]="pageTitle"></app-page>
<ng-template #headerPanel>
    <button type="button" class="btn btn-secondary" (click)="save()">Save</button>
    <button type="button" class="btn btn-secondary" routerLink="/students">Cancel</button>
</ng-template>

<ng-template #contentPanel>
    <ngb-tabset [justify]="'left'">
        <ngb-tab title="Details">
            <ng-template ngbTabContent >
                <div class="content-panel">
                    <div class="items-panel">
                        <!--<div *ngIf="name.invalid && (name.dirty || name.touched)"-->
                             <!--class="alert alert-danger">-->
                            <!--<div *ngIf="name.errors.required">-->
                                <!--Name is required.-->
                            <!--</div>-->
                        <!--</div>-->
                        <div>
                            <label>Student Number</label>
                            <input type="text" class="form-control" [(ngModel)]="model.studentNumber" required
                                  #name="ngModel">
                        </div>
                        <div>
                            <label>First Name</label>
                            <input type="text" class="form-control" [(ngModel)]="model.firstName">
                        </div>
                        <div>
                            <label>Last Name</label>
                            <input type="text" class="form-control" [(ngModel)]="model.lastName">
                        </div>
                        <div>
                        <label>Gender</label>
                        <select class="form-control" [(ngModel)]="model.gender">
                            <option>F</option>
                            <option>M</option>
                        </select>
                        </div>
                        <div>
                            <label>Email</label>
                            <input type="email" class="form-control" [(ngModel)]="model.email">
                        </div>
                    </div>
                    <div class="items-panel">
                        <div>
                            <label>Year Level</label>
                            <input type="number" class="form-control" [(ngModel)]="model.yearLevel">
                        </div>
                        <div>
                            <label>Program</label>
                            <input type="text" class="form-control" [(ngModel)]="model.program">
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Grade">
            <ng-template ngbTabContent>
                <div class="content-panel">
                    <div class="items-panel">
                        <label>Year</label>
                        <select class="form-control" [(ngModel)]="gradeModel.year">
                            <option>2015</option>
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                        </select>

                        <label>Term</label>
                        <select class="form-control" [(ngModel)]="gradeModel.term">
                            <option>1ST</option>
                            <option>2ND</option>
                        </select>

                        <label>Course</label>
                        <select class="form-control" [(ngModel)]="gradeModel.courseId">
                            <option *ngFor="let item of courseList" [value]="item.id">
                                {{item.courseNumber}} : {{item.title}}
                            </option>
                        </select>

                        <label>Grade</label>
                        <select class="form-control" [(ngModel)]="gradeModel.value">
                            <option>1</option>
                            <option>1.25</option>
                            <option>1.5</option>
                            <option>1.75</option>
                            <option>2</option>
                            <option>2.25</option>
                            <option>2.5</option>
                            <option>2.75</option>
                            <option>3</option>
                        </select>

                        <button type="button" class="btn btn-secondary add-grade" (click)="addGrade()">Add Grade</button>
                    </div>
                    <div class="items-panel">
                        <ngx-datatable
                                class="bootstrap"
                                [rows]="gradeList"
                                [columns]="columns"
                                [columnMode]="'force'"
                                [limit]="5"
                                [rowHeight]="'auto'"
                                [headerHeight]="40"
                                [footerHeight]="40">
                            <ngx-datatable-column>
                                <ng-template let-column="column" ngx-datatable-header-template>
                                    Year - Term
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.year}} - {{row.term}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column>
                                <ng-template let-column="column" ngx-datatable-header-template>
                                    Course Title
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.title}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column align="center">
                                <ng-template let-column="column" ngx-datatable-header-template>
                                    <div class="center-header">
                                        Grade
                                    </div>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div class="center-header">
                                        {{row.value}}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</ng-template>

<ng-template #alertTemplate let-c="close" let-d="dismiss">
    <div class="modal-body">
        <p>{{alertMessage}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">OK</button>
    </div>
</ng-template>

