body {
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

app-root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.page-title{
  text-align: center;
  background: #bdbdbd;
}

.items-panel{
  padding-right: 20px;
  width: 40%;
  min-width: 450px;
}

.content-panel{
  display: flex;
}

.btn-block {
  margin-top: 10px;
}

.btn {
  margin: 0 5px;
}