<app-page [headerPanel]="headerPanel" [contentPanel]="contentPanel" [headerText]="'Course Track'"></app-page>
<ng-template #headerPanel>
    <select  [(ngModel)]='dateSelect' (change)="changeDate()" class="form-control">
        <option value="" disabled selected>Year Admitted to Track</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
    </select>
</ng-template>

<ng-template #contentPanel>
    <ngb-tabset [justify]="'left'" (tabChange)="tabChange($event)">
        <ngb-tab title="Software Development" id="sd">
            <ng-template ngbTabContent >
                <ngx-datatable
                        class="bootstrap"
                        [rows]="sdRows"
                        [loadingIndicator]="loadingIndicator"
                        [columns]="columns"
                        [columnMode]="'force'"
                        [limit]="8"
                        [rowHeight]="'auto'"
                        [headerHeight]="40"
                        [footerHeight]="40"
                        [reorderable]="reorderable">
                </ngx-datatable>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Distributed Systems" id="ds">
            <ng-template ngbTabContent >
                <ngx-datatable
                        class="bootstrap"
                        [rows]="dsRows"
                        [loadingIndicator]="loadingIndicator"
                        [columns]="columns"
                        [columnMode]="'force'"
                        [limit]="8"
                        [rowHeight]="'auto'"
                        [headerHeight]="40"
                        [footerHeight]="40"
                        [reorderable]="reorderable">
                </ngx-datatable>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Multimedia Studies" id="ms">
            <ng-template ngbTabContent >
                <ngx-datatable
                        class="bootstrap"
                        [rows]="msRows"
                        [loadingIndicator]="loadingIndicator"
                        [columns]="columns"
                        [columnMode]="'force'"
                        [limit]="8"
                        [rowHeight]="'auto'"
                        [headerHeight]="40"
                        [footerHeight]="40"
                        [reorderable]="reorderable">
                </ngx-datatable>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</ng-template>